ORACLE_USER=quickbite
ORACLE_PASSWORD=QB_Pass_2026
ORACLE_CONNECTSTRING=localhost:1521/XEPDB1
MONGO_URI=mongodb://localhost:27017,localhost:27018,localhost:27019/quickbite?replicaSet=rs0
JWT_SECRET=supersecret123
PORT=5000
SYNC_INTERVAL_MS=30000
